<div class="side-bar">
<div class="green-title">Commercial Data</div>
<h3>Data Overview</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>

<div class="side-bar-table">
	<div class="table-row">
		<span class="label">Delivery Frequency</span>
		<i class="info">&#9432;</i>
		<span  class="value">{{publisher.deliveryFrequency}}</span>
	</div>
	<div class="table-row">
		<span class="label">Data Frequency</span>
		<i class="info">&#9432;</i>
		<span  class="value">{{publisher.dataFrequency}}</span>
	</div>
	<div class="table-row">
		<span class="label">Reportin Lag</span>
		<i class="info">&#9432;</i>
		<span  class="value">{{publisher.reportingLag}}</span>
	</div>
	<div class="table-row">
		<span class="label">History</span>
		<i class="info">&#9432;</i>
		<span  class="value">{{publisher.history}}</span>
	</div>
	<div class="table-row">
		<span class="label">Coverage</span>
		<i class="info">&#9432;</i>
		<span  class="value">{{publisher.coverage}}</span>
	</div>
</div>
<div class="tables-api-btn">Tables API<i class="info">&#9432;</i></div>
<button type="submit">Pricing</button>
</div>
