<div class="side-bar">
<h3>Data Overview</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>

<div class="table">
	<div> Delivery Frequency</div><div>{{publisher.deliveryFrequency}}</div>
	<div> Data Frequency</div><div>{{publisher.dataFrequency}}</div>
	<div> Reportin Lag</div><div>{{publisher.reportingLag}}</div>
	<div> History</div><div>{{publisher.history}}</div>
	<div> Coverage</div><div>{{publisher.coverage}}</div>
</div>
<form>
<input type="text" placeholder="Tables API">
<button type="submit">Pricing</button>
</form>

</div>
