{{aside}}
<h3>Product Page - Index - {{publisher.title}}</h3>

{{#each products as |product|}}
  <h4>{{link-to product.name 'products.show' product.id}}</h4>

  <table>
    {{#each product.productDataSubset as |data|}}
      <tr>
        <td>{{data.m_ticker}}</td>
        <td>{{data.ticker}}</td>
        <td>{{data.comp_name}}</td>
        <td>{{data.comp_name_2}}</td>
        <td>{{data.exchange}}</td>
        <td>{{data.currency_code}}</td>
        <td>{{data.per_end_date}}</td>
        <td>{{data.per_type}}</td>
        <td>{{data.per_code}}</td>
				<td>{{data.per_fisc_year}}</td>
        <td>{{data.per_fisc_qtr}}</td>
      </tr>
    {{/each}}
  </table>
{{/each}}

<aside>
<table>
	<tr>
		<td>
			{{publisher.title}}
			assa
		</td>
	</tr>
	<tr>
		<td>

			<td>{{publisher.deliveryFrequency}}</td>
		</td>
	</tr>
</table>
</aside>

{{outlet}}
