<main>
	<div class="content">
		<p>Datasets for {{publisher.title}}</p>
		  <!-- loops over each of the products -->
	    {{#each products as |product|}}
	    <div class="product-data">
	      <div class="table-header"><span>{{product.name}}</span><span class="expand">{{link-to "EXPAND" 'products.show' product.id}}</span></div>
			  <table>
					<tr>
						{{#each-in product.productDataSubset.[1] as |key|}}
							<th>{{key}}</th>
						{{/each-in}}
					</tr>
					{{#each product.productDataSubset as |data|}}
						<tr>
							{{#each-in data as |key value|}}
								<td>{{value}}</td>
							{{/each-in}}
						</tr>
					{{/each}}
			  </table>
				<div class="table-footer">sample rows</div>
			</div>
			{{/each}}
	</div>
	<aside>
		{{side-bar publisher=model.publisher}}
	</aside>
</main>
{{outlet}}
