<h3>Sub-Product Page</h3>

{{link-to 'Product page' 'products'}}

<h4>{{product.name}}</h4>

<table>
	<tr>
		{{#each-in productData.[1] as |key|}}
			<th>{{key}}</th>
		{{/each-in}}
	</tr>
	  {{#each productData as |data|}}
	    <tr>
				{{#each-in data as |key value|}}
					<td>{{value}}</td>
				{{/each-in}}
	    </tr>
	  {{/each}}
</table>

{{outlet}}
